:root {
  --dashboard-content-bg: #313131;
}

main {
  width: 85%;
  min-height: 100vh;
  background-color: var(--dashboard-content-bg);
  color: var(--arctic-white);
  position: relative;
}

@media screen and (max-width: 1200px) {
  main {
    width: 80%;
  }
}

@media screen and (max-width: 1000px) {
  main {
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  main {
    width: 100vw;
  }
}

.navigation-btn {
  padding: 5px 30px 5px 30px;
  background-color: var(--phosphor-green);
  border: none;
  border-radius: 20px;
  color: var(--arctic-white);
  font-size: 1rem;
}

.back {
  position: fixed;
  bottom: 36px;
  right: 150px;
  border-radius: 100%;
  width: none;
  padding: 4px 13px 4px 13px;
}

.add-image {
  position: fixed;
  bottom: 36px;
  right: 95px;
  border-radius: 100%;
  width: none;
  padding: 4px 10px 4px 10px;
}

.navigation-btn:hover {
  cursor: pointer;
  filter: brightness(1.25);
}

.calendar-section {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 500px;
}

.calendar-container {
  left: 75px;
  position: relative;
}

.calendar-section h1 {
  margin-bottom: 30px;
}

.calendar-section button {
  margin-top: 30px;
}

.images-section div {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, 300px);
}
.images-section {
  margin: 50px;
}

.image {
  display: inline-block;
}

.image img {
  max-width: 300px;
  max-height: 200px;
}

.upload-section {
  /* background-color: rgb(175, 175, 175); */
  background-color: var(--grey-text);
  max-width: 80%;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 30px;
}

#file-input {
  background-color: var(--arctic-white);
  color: var(--grey-text);
}

#file-submit {
  background-color: var(--phosphor-green);
  margin-bottom: 0px;
}

#file-submit:hover {
  filter: brightness(1.25);
  cursor: pointer;
}

.close-upload {
  float: right;
  padding: 0px 10px 10px 10px;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.close-upload:hover {
  filter: brightness(1.25);
}

.error {
  color: red;
}
