:root {
  --dashboard-navbar-bg: #272727;
}

aside {
  width: 15%;
  min-height: 100vh;
  background-color: var(--dashboard-navbar-bg);
  color: var(--arctic-white);
  position: relative;
  transition: all 0.3s ease;
}

.active {
  transform: translateX(0%);
  display: block;
}

aside div div i {
  font-size: 80px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user-icon {
  background-color: var(--phosphor-green);
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  overflow: hidden;
}

.user-info {
  text-align: center;
  padding: 0 5% 0 5%;
}

.user-info p {
  margin-top: 80px;
  font-size: 0.9rem;
  word-break: break-word;
}

.dashboard-button {
  height: 30px;
  width: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--phosphor-green);
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 0.9rem;
}

.dashboard-button:hover {
  filter: brightness(1.25);
  cursor: pointer;
}

.logout {
  bottom: 30px;
}

.home {
  bottom: 75px;
}

@media screen and (max-width: 1200px) {
  aside {
    width: 20%;
  }
}

@media screen and (max-width: 1000px) {
  aside {
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  aside {
    position: fixed;
    overflow: hidden;
    width: 100%;
    top: 8vh;
    min-height: 92vh;
    transform: translateX(-100%);
  }
  .dashboard-button {
    width: 60%;
  }
  #dashboard-nav {
    display: inline-block;
  }
}

.dashboard-nav {
  position: fixed;
  background: var(--dashboard-navbar-bg);
  width: 100%;
  color: var(--arctic-white);
  height: 8vh;
  display: none;
}

.dashboard-nav h1,
.dashboard-nav i {
  margin: auto 0 auto 0;
  font-size: 1.4rem;
  position: absolute;
  transform: translateY(-50%);
}

.dashboard-nav h1 {
  left: 10%;
  top: 50%;
}

.dashboard-nav i {
  top: 50%;
  right: 10%;
}

.dashboard-nav i:hover {
  filter: brightness(1.25);
}
